---
import type { CollectionEntry } from "astro:content";
import ContactItem from "./ContactItem.astro";
import { Image } from "astro:assets";
import localLogofile from "../content/cards/images/ssd.svg";
import { Debug } from "astro:components";

type Props = {
  card: CollectionEntry<"cards">;
};
const { card } = Astro.props;

const vcardData = `BEGIN:VCARD
VERSION:4.0
N:${card.data.name}
FN;CHARSET=utf-8:
${card.data.company ? `ORG:${card.data.company}` : ''}
${card.data.position ? `TITLE:${card.data.position}` : ''}
${card.data.email ? `EMAIL;INTERNET;TYPE=Email:${card.data.email}` : ''}
${card.data.website ? `URL;TYPE=Website:${card.data.website}` : ''}
${card.data.phone ? `TEL;TYPE=Call:${card.data.phone}` : ''}
${card.data.address ? `ADR:${card.data.address}` : ''}
END:VCARD`;
---

<Debug {vcardData} />

<div
  class="bg-base-100 min-h-screen min-w-full flex items-center justify-center"
>
  <!-- large background -->
  <div
    class="bg-gray-50 p-8 rounded-xl max-w-[440px] shadow-lg"
    style="width: 440px;"
  >
    <!-- card div -->
    <div
      class="flex flex-col items-center justify-center p-4 bg-white border border-gray-200 rounded-lg shadow-md"
    >
      <!-- Banner image container -->
      <Image src={localLogofile} alt=`${card.data.company} Logo` />
    </div>
    <div class="text-left mt-4 mb-8">
      <div class="my-5 text-gray-800">
        <span class="text-3xl font-bold"
          >{card.data.name} {card.data.suffix}</span
        >
        {
          card.data.pronouns && (
            <span class="text-md italic text-gray-500">{`(${card.data.pronouns})`}</span>
          )
        }
      </div>
      <!-- heading -->
      {
        card.data.position && (
          <div class="text-2xl text-gray-700">{card.data.position}</div>
        )
      }
      {
        card.data.company && (
          <div class="text-2xl text-gray-700 italic">{card.data.company}</div>
        )
      }
    </div>
    <ul class="list-none space-y-2 px-5">
      {card.data.email && <ContactItem value={card.data.email} type="email" />}
      {card.data.phone && <ContactItem value={card.data.phone} type="phone" />}
      {
        card.data.website && (
          <ContactItem value={card.data.website} type="website" />
        )
      }
      {
        card.data.address && (
          <ContactItem value={card.data.address} type="address" />
        )
      }
    </ul>

    <button
      id="btnSave"
      data-vcarddata={vcardData}
      data-name={card.data.name}
      class="mt-4 px-6 py-3 font-black bg-primary text-white rounded-full hover:bg-secondary w-full shadow-lg"
      >Save Contact</button
    >
    <script>
      const saveBtn = document.getElementById("btnSave");
      if (saveBtn)
        saveBtn.addEventListener("click", function () {
          let vcard = saveBtn.dataset.vcarddata;
          if (vcard) {
            let blob = new Blob([vcard], { type: "text/vcard" });
            let url = URL.createObjectURL(blob);
            const newLink = document.createElement("a");
            newLink.download = this.dataset.name + ".vcf";
            newLink.textContent = this.dataset.name || "";
            newLink.href = url;

            newLink.click();
          }
        });
    </script>

    <style></style>
  </div>
</div>
